@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  @apply font-playfair;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-6 py-2 rounded-lg hover:bg-opacity-90 transition-all duration-300;
  }
  
  .btn-secondary {
    @apply bg-accent text-white px-6 py-2 rounded-lg hover:bg-opacity-90 transition-all duration-300;
  }

  .card {
    @apply bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300;
  }
}

.slide-card {
  transform: scale(0.75);
  opacity: 0.5;
  transition: all 0.4s ease;
}

.swiper-slide-active .slide-card {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-slide-next .slide-card,
.swiper-slide-prev .slide-card {
  transform: scale(0.85);
  opacity: 0.8;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  color: #333 !important;              /* Arrow color */
  width: 30px !important;
  height: 30px !important;
  background: white;        /* circle background */
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  padding: 5px;
}

.swiper-button-next {
  right: -20px;   /* Move right arrow OUTSIDE */
}

.swiper-button-prev {
  left: -20px;    /* Move left arrow OUTSIDE */
}
/* Disable click on all slides */
.swiper-slide {
  pointer-events: none;
}

/* Only active (center) slide clickable */
.swiper-slide-active {
  pointer-events: auto !important;
}

